<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smu.bookmoa">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMoa"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Main_set_lock_pw"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BookWriteSearch"
            android:exported="false" />
        <activity
            android:name=".Begin_Register"
            android:exported="false"
            android:label="@string/title_activity_begin_register"
            android:theme="@style/Theme.BookMoa.NoActionBar" />
        <activity
            android:name=".Begin_Findpw"
            android:exported="false" />
        <activity
            android:name=".Begin_Login"
            android:exported="false" />
        <activity
            android:name=".BookWrite"
            android:exported="false" />
        <activity
            android:name=".BeginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main_event_set" />
        <activity android:name=".Main_event_det" />
        <activity android:name=".Main_set_lock" />
        <activity android:name=".Main_set_acc" />
        <activity android:name=".Main_set_alarm" />
        <activity android:name=".Main_set_stat" />
        <activity android:name=".Main_acc_Chpw" />

    </application>

</manifest>